// TO DO: update function for converting sass variables to css variables
$darkColors: (
    primary-cta-color-main: rgba(79,70,229),
    primary-cta-color-hover: rgba(67,56,202),
    dropdown-background-color: #FFFFFF,
    main-background-color: #FFFFFF,
    color-contrast: #FFFFFF,
    cta-contrast: #090909,
    secondary-color: #737373,
    divider-color: #DCDCDC,
);
